{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="content">
    <div class="container">
        <h1>Votre compte</h1>
            <div class="compte">
                <h2>Votre Email : {{app.user.email}}</h2>
                <div class="boutons">
                    <button><a href="{{path("account_email")}}">Changer l'email</a></button>
                    <button><a href="{{path("account_password")}}">Changer le mot de passe</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
