{% extends 'base.html.twig' %}

{% block title %}Inscription au site{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            <div class="center login">
                <h1>Inscription au site</h1>
                {{form_start(myForm)}}
                {{form_widget(myForm)}}
                    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> S'inscrire</button>
                {{form_end(myForm)}}
            </div>
        </div>
    </div>
{% endblock %}