{% extends 'admin/base.html.twig' %}

{% block title %}Créer un produit{% endblock %}

{% form_theme myForm _self %}

{% block body %}
    <div class="container">
        <h1>Créer un produit</h1>
        <a href="{{path('admin_produits_index')}}" class="btn btn-secondary my-3">Retour</a>
        {{form_start(myForm)}}
        <div class="row">
            <div class="col-12">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card-title">Informations du produit</h4>
                    </div>
                    <div class="card-body">
                        {{form_widget(myForm)}}
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-check"></i>
                            Enregistrer le produit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {{form_end(myForm)}}
    </div>

{% endblock %}