<footer>
    <p>Copyright &copy; MusicShop - @Colasse Laurent {{"now" | date("Y")}}</p>
    <p>Rue de Laeken 10, Bruxelles - 012/345678</p>
    <p>REALISE DANS LE CADRE D UN EXAM - AUCUN BUT COMMERCIAL</p>
</footer>